@font-face {
  font-family: "Sexy Beachy";
  src: url("./fonts/sexy-beachy/sexy_beachy-webfont.ttf");
  src: 
  url("./fonts/sexy-beachy/sexy_beachy-webfont.woff") format("woff"),
  url("./fonts/sexy-beachy/sexy_beachy-webfont.ttf") format("truetype");
}
@font-face {
  font-family: "Brendan";
  src: url("./fonts/Brendan/the_bredan.ttf");
  src: 
  url("./fonts/Brendan/the_bredan.woff") format("woff"),
  url("./fonts/Brendan/the_bredan.ttf") format("truetype"),
  url("./fonts/Brendan/the_bredan.svg") format("svg");
}
@keyframes slideInFromLeft {
    from {
      opacity: 0;
      transform: translateX(-100%);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
}
@keyframes slideInFromRight {
    from {
      opacity: 0;
      transform: translateX(+100%);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
}
@keyframes slideInFromTop {
    from {
      opacity: 0;
      transform: translateY(-100%);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
}
@keyframes slideInFromBottom {
    from {
      opacity: 0;
      transform: translateY(+100%);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
}
body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
